{
  "openapi": "3.0.3",
  "info": {
    "title": "Dhrith ASR API",
    "version": "1.0.0",
    "description": "Submit audio batches, track progress, and fetch merged transcription results."
  },
  "servers": [
    {
      "url": "https://api.soket.ai/transcribe"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/batch": {
      "post": {
        "operationId": "submitBatch",
        "summary": "Submit a transcription batch",
        "description": "Submit one batch with local files and/or remote audio URLs.",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "files": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "binary"
                    },
                    "description": "One or more audio files"
                  },
                  "audio_urls": {
                    "type": "string",
                    "description": "JSON array string of public audio URLs"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Batch accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchSubmitResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/status/{job_id}": {
      "get": {
        "operationId": "getJobStatus",
        "summary": "Get status by job ID",
        "description": "Returns one job status/result document. For in-flight jobs, includes queue status.",
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Job status response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobStatusResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Job not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/status/batch/{batch_id}": {
      "get": {
        "operationId": "getBatchStatus",
        "summary": "Get batch status",
        "description": "Returns aggregate progress across files and chunk jobs in the batch.",
        "parameters": [
          {
            "name": "batch_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Batch status response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchStatusResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Batch not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/results/batch/{batch_id}": {
      "get": {
        "operationId": "getBatchResults",
        "summary": "Get batch results",
        "description": "Paginated results endpoint.",
        "parameters": [
          {
            "name": "batch_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "completed",
                "failed",
                "retrying",
                "processing"
              ]
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 50,
              "maximum": 200
            }
          },
          {
            "name": "raw",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "chunks",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Batch results response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchResultsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Batch not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/results/file/{file_id}": {
      "get": {
        "operationId": "getFileResults",
        "summary": "Get results by file ID",
        "description": "Returns merged transcript and status for one file.",
        "parameters": [
          {
            "name": "file_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "chunks",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "File results response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileResultsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "File not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/download/batch/{batch_id}": {
      "get": {
        "operationId": "downloadBatchResults",
        "summary": "Download batch results",
        "description": "Download all results for a batch as NDJSON or JSON.",
        "parameters": [
          {
            "name": "batch_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "ndjson",
                "json"
              ],
              "default": "ndjson"
            }
          },
          {
            "name": "raw",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "chunks",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Download response",
            "content": {
              "application/x-ndjson": {
                "schema": {
                  "type": "string"
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Batch not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "schemas": {
      "BatchJob": {
        "type": "object",
        "properties": {
          "job_id": {
            "type": "string"
          },
          "batch_id": {
            "type": "string"
          },
          "file_id": {
            "type": "string"
          },
          "filename": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        }
      },
      "BatchSubmitResponse": {
        "type": "object",
        "properties": {
          "batch_id": {
            "type": "string"
          },
          "total_jobs": {
            "type": "integer"
          },
          "estimated_audio_seconds": {
            "type": "number"
          },
          "estimated_completion_seconds": {
            "type": "number"
          },
          "jobs": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BatchJob"
            }
          }
        }
      },
      "JobStatusResponse": {
        "type": "object",
        "properties": {
          "job_id": {
            "type": "string"
          },
          "batch_id": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "result": {
            "type": "object",
            "additionalProperties": true
          }
        }
      },
      "BatchStatusResponse": {
        "type": "object",
        "properties": {
          "batch_id": {
            "type": "string"
          },
          "total_files": {
            "type": "integer"
          },
          "total_jobs": {
            "type": "integer"
          },
          "completed_jobs": {
            "type": "integer"
          },
          "failed_jobs": {
            "type": "integer"
          },
          "processing_jobs": {
            "type": "integer"
          },
          "queued_jobs": {
            "type": "integer"
          }
        }
      },
      "BatchResultsResponse": {
        "type": "object",
        "properties": {
          "batch_id": {
            "type": "string"
          },
          "page": {
            "type": "integer"
          },
          "limit": {
            "type": "integer"
          },
          "results": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          }
        }
      },
      "FileResultsResponse": {
        "type": "object",
        "properties": {
          "file_id": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "transcript": {
            "type": "string"
          },
          "chunks": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "detail": {
            "type": "string"
          }
        }
      }
    }
  }
}