{
  "openapi": "3.0.3",
  "info": {
    "title": "Dhrith ASR API",
    "version": "1.0.0",
    "description": "Upload audio, submit batches, track progress, and fetch merged transcription results."
  },
  "servers": [
    {
      "url": "https://api.soket.ai/transcribe",
      "description": "Batch transcription, status, results, and download"
    },
    {
      "url": "https://api.soket.ai",
      "description": "File upload and management"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/files/upload": {
      "servers": [
        {
          "url": "https://api.soket.ai"
        }
      ],
      "post": {
        "operationId": "uploadFiles",
        "summary": "Upload files",
        "description": "Accept multipart files, spool them to disk, start background storage uploads, and return immediately with a batch_upload_id. Poll GET /files/upload/{batch_upload_id} until uploads complete before submitting a batch.",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": ["files"],
                "properties": {
                  "files": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "binary"
                    },
                    "description": "One or more audio files"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Upload accepted; background upload in progress",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadAcceptedResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request or file exceeds size limit",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/files/upload/{batch_upload_id}": {
      "servers": [
        {
          "url": "https://api.soket.ai"
        }
      ],
      "get": {
        "operationId": "getUploadStatus",
        "summary": "Get file upload status",
        "description": "Poll upload progress for a batch_upload_id returned by POST /files/upload. Returns per-file upload_status and gcs_key for completed files.",
        "parameters": [
          {
            "name": "batch_upload_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Upload status response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadStatusResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Upload batch not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/files": {
      "servers": [
        {
          "url": "https://api.soket.ai"
        }
      ],
      "get": {
        "operationId": "listFiles",
        "summary": "List files",
        "description": "List all files uploaded by the authenticated user, flattened across upload batches. Returns newest files first.",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1,
              "minimum": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 50,
              "minimum": 1,
              "maximum": 200
            }
          },
          {
            "name": "upload_status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["pending", "uploading", "completed", "failed"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated file list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteFiles",
        "summary": "Delete files",
        "description": "Delete one or more uploaded files by file_id. Removes storage objects, upload records, and related jobs.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteFilesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Files deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteFilesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Empty file_ids list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Some file_ids not found or not owned by you",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/batch": {
      "post": {
        "operationId": "submitBatch",
        "summary": "Submit batch transcription",
        "description": "Submit a batch for transcription using a completed batch_upload_id, specific file_ids from prior uploads, and/or an explicit sources list with gcs_key or url per item.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Batch accepted and enqueued",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchSubmitResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Upload batch belongs to a different user",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "batch_upload_id or file_ids not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Uploads still in progress or file_ids not yet completed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Quota exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Queue full",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/status/batch/{batch_id}": {
      "get": {
        "operationId": "getBatchStatus",
        "summary": "Get batch status",
        "description": "Returns aggregate progress across files and chunk jobs in the batch.",
        "parameters": [
          {
            "name": "batch_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Batch status response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchStatusResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Batch not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/results/batch/{batch_id}": {
      "get": {
        "operationId": "getBatchResults",
        "summary": "Get batch results",
        "description": "Paginated batch results grouped by file. By default returns merged per-file transcription results.",
        "parameters": [
          {
            "name": "batch_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["completed", "failed", "retrying", "processing"]
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1,
              "minimum": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 50,
              "minimum": 1,
              "maximum": 200
            }
          },
          {
            "name": "raw",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "chunks",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "speech_information",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "Include segment-level speech information (tone, accent, speaker_id, timestamps, etc.)"
          }
        ],
        "responses": {
          "200": {
            "description": "Batch results response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchResultsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Batch not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/results/file/{file_id}": {
      "get": {
        "operationId": "getFileResults",
        "summary": "Get file results",
        "description": "Returns merged transcript and status for one file.",
        "parameters": [
          {
            "name": "file_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "chunks",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "speech_information",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "Include segment-level speech information (tone, accent, speaker_id, timestamps, etc.)"
          }
        ],
        "responses": {
          "200": {
            "description": "File results response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileResultsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "File not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/download/batch/{batch_id}": {
      "get": {
        "operationId": "downloadBatchResults",
        "summary": "Download batch results",
        "description": "Stream all results for a batch as a downloadable NDJSON or JSON file.",
        "parameters": [
          {
            "name": "batch_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["completed", "failed", "processing"]
            }
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["ndjson", "json"],
              "default": "ndjson"
            }
          },
          {
            "name": "raw",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "chunks",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "speech_information",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "Include segment-level speech information in merged output"
          }
        ],
        "responses": {
          "200": {
            "description": "Download response",
            "content": {
              "application/x-ndjson": {
                "schema": {
                  "type": "string"
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Batch not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "schemas": {
      "UploadAcceptedResponse": {
        "type": "object",
        "properties": {
          "batch_upload_id": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "example": "accepted"
          },
          "total_files": {
            "type": "integer"
          },
          "spool_seconds": {
            "type": "number"
          },
          "files": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/UploadedFileSummary"
            }
          }
        }
      },
      "UploadedFileSummary": {
        "type": "object",
        "properties": {
          "file_id": {
            "type": "string"
          },
          "filename": {
            "type": "string"
          },
          "size_bytes": {
            "type": "integer"
          },
          "estimated_duration_seconds": {
            "type": "number"
          },
          "upload_status": {
            "type": "string",
            "enum": ["pending", "uploading", "completed", "failed"]
          }
        }
      },
      "UploadStatusResponse": {
        "type": "object",
        "properties": {
          "batch_upload_id": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "total_files": {
            "type": "integer"
          },
          "completed": {
            "type": "integer"
          },
          "failed": {
            "type": "integer"
          },
          "uploading": {
            "type": "integer"
          },
          "pending": {
            "type": "integer"
          },
          "files": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/UploadedFileSummary"
            }
          }
        }
      },
      "FileListResponse": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer"
          },
          "limit": {
            "type": "integer"
          },
          "total_pages": {
            "type": "integer"
          },
          "total_files": {
            "type": "integer"
          },
          "count": {
            "type": "integer"
          },
          "files": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          }
        }
      },
      "DeleteFilesRequest": {
        "type": "object",
        "required": ["file_ids"],
        "properties": {
          "file_ids": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "DeleteFilesResponse": {
        "type": "object",
        "properties": {
          "deleted_file_ids": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "deleted_count": {
            "type": "integer"
          },
          "storage_objects_deleted": {
            "type": "integer"
          },
          "jobs_cleaned": {
            "type": "integer"
          }
        }
      },
      "SourceItem": {
        "type": "object",
        "properties": {
          "gcs_key": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "filename": {
            "type": "string"
          }
        }
      },
      "BatchRequest": {
        "type": "object",
        "properties": {
          "batch_upload_id": {
            "type": "string",
            "description": "Include all completed files from this POST /files/upload response"
          },
          "file_ids": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Specific file_id values from POST /files/upload; can span multiple upload batches"
          },
          "sources": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SourceItem"
            },
            "description": "Explicit GCS keys or URLs; each item must have gcs_key or url"
          }
        }
      },
      "BatchJob": {
        "type": "object",
        "properties": {
          "file_id": {
            "type": "string"
          },
          "filename": {
            "type": "string"
          },
          "batch_id": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        }
      },
      "BatchSubmitResponse": {
        "type": "object",
        "properties": {
          "batch_id": {
            "type": "string"
          },
          "total_jobs": {
            "type": "integer"
          },
          "estimated_audio_seconds": {
            "type": "number"
          },
          "estimated_completion_seconds": {
            "type": "number"
          },
          "jobs": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BatchJob"
            }
          }
        }
      },
      "BatchStatusResponse": {
        "type": "object",
        "properties": {
          "batch_id": {
            "type": "string"
          },
          "total_files": {
            "type": "integer"
          },
          "files_completed": {
            "type": "integer"
          },
          "files_failed": {
            "type": "integer"
          },
          "estimated_audio_seconds": {
            "type": "number"
          },
          "estimated_completion_seconds": {
            "type": "number"
          },
          "status": {
            "type": "string"
          },
          "total_jobs": {
            "type": "integer"
          },
          "completed_jobs": {
            "type": "integer"
          },
          "failed_jobs": {
            "type": "integer"
          },
          "processing_jobs": {
            "type": "integer"
          },
          "queued_jobs": {
            "type": "integer"
          },
          "files_processing": {
            "type": "integer"
          }
        }
      },
      "BatchResultsResponse": {
        "type": "object",
        "properties": {
          "batch_id": {
            "type": "string"
          },
          "page": {
            "type": "integer"
          },
          "limit": {
            "type": "integer"
          },
          "total_pages": {
            "type": "integer"
          },
          "total_files": {
            "type": "integer"
          },
          "count": {
            "type": "integer"
          },
          "files": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          }
        }
      },
      "FileResultsResponse": {
        "type": "object",
        "properties": {
          "file_id": {
            "type": "string"
          },
          "filename": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "result": {
            "type": "object",
            "additionalProperties": true
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "chunk_results": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "detail": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "object",
                "additionalProperties": true
              }
            ]
          }
        }
      }
    }
  }
}
